{{!-- Footer: Section --}}
<footer class="mainFooter {{modifier}}" role="footer">
    <div class="container">
        <div class="row mainFooter-linkRow">

        </div>

        <div class="row">
            <p class="copywright textCenter">
                © 2012-<span class="js-setYear"></span> Omniconvert. All rights reserved.
            </p>
        </div>
    </div>
</footer>
