<header class="mainHeader {{modifier}}" role="header">
  <div class="navigationBar">
    {{!-- logo --}}
    {{> components/header/navigation }}
    {{!-- search --}}
  </div>

  <div class="logoWrapper">
      {{> components/header/logo }}
  </div>

</header>
