<header class="mainHeader {{modifier}}" role="header">
  <div class="navigationBar">
    {{!-- logo --}}
    {{> components/header/navigation }}
    {{!-- search --}}
  </div>

  <div class="logoWrapper">
      {{> components/header/logo }}
  </div>


  <article class="hero">
    <div class="heroImage">
      <picture>
        <img src="images/hero/hero-image.png" alt="">
      </picture>
    </div>

    <div class="heroContent">
      <h1 class="heroContent-title">
        I See What You Did There
        asian no true story asian
      </h1>

      <p class="heroContent-text">
        I See What You Did There asian no true story asian
        no true story I See What You Did There asian
        no true story asian no true story no true story asian
        no true story no true story asian no true story no true story
        asian no true story
      </p>

      <button class="btn btn--pill">
        Read More
      </button>
    </div>
  </article>

</header>
