<div class="mobileNav" role="navigation">
  <div class="container">
    <div class="row box">
      <div class="mobileNav-close col-12">
        <button type="button" class="mobileMenu-toggle visible-xs" aria-label="Toggle Mobile Menu">
          <i class="fa fa-times" aria-hidden="true"></i>
        </button>
      </div>
      

       <ul class="col-12">
        <li class="has-dropdown js-mobileDropdownLink">
            <a class="mobileNav-link" href="">
                Features
                <i class="fa fa-plus float-right" aria-hidden="true"></i>
            </a>

            <ul class="dropdown">
                <div class="dropdown-inner">
                    <li>
                        <a href="#">
                            Surveys
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            A/B Testing
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Personalizations
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Advanced Segmentation Engine
                        </a>
                    </li>
                </div>
            </ul>
        </li>
        <li>
            <a class="mobileNav-link" href="">
                Website Audit
            </a>
        </li>
        <li>
            <a class="mobileNav-link" href="">
                Resources
            </a>
        </li>
        <li>
            <a class="mobileNav-link" href="">
                Pricing
            </a>
        </li>
        <li>
            {{> components/buttons/login 
                buttonRoute="login.html"
                button-text="Login"
            }}
        </li>
      </ul>
    </div>
  </div>
  
</div>
