/* =============================================
  Global section
 ============================================= */
* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

html {
  height: 100%;
  font-size: $base-font-size;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-image: url('../images/memphis-colorful.png');
}

