<section>

    <article
            class="project"
            data-projectId="project1"
    >
        <!-- Project Description -->
        <div class="project-description">
            <h2>
                This is my basic run of the mill project
            </h2>
            <div class="techTags">
                <span
                        class="tag"
                        data-tag="javascript">
                    javascript
                </span>
                <span
                        class="tag"
                        data-tag="css">
                    css
                </span>
                <span
                        class="tag"
                        data-tag="html">
                    html
                </span>
            </div>
            <p>
                Description of this project is and could be unavailable for the time being because i say so.
                In trying to force me to release this info will result in your DOOM.
            </p>
        </div>

        <!-- Project Preview -->
        <div class="project-preview">
            <div class="preview-cover">
                <a class="btn btn--pill preview-button" href="/#">
                    View Project
                </a>
            </div>
            <picture>
                <source srcset="./images/projectPreview/project1Preview.png" />
                <img src="./images/projectPreview/project1Preview.png" alt="Project Description" />
            </picture>
        </div>
    </article>

</section>
