<a href="#">
    <picture>
        <source
                srcset=""
                type="image/svg+xml">
        <img
                class="ibreatheart-logo"
                src=""
                alt="Logo"/>
    </picture>

</a>