<a href="#">
    <picture>
        <source
                srcset="images/logo-color.svg"
                type="image/svg+xml">
        <img
                class="ibreatheart-logo"
                src="images/logo-color.svg"
                alt="Ibreatheart Logo"/>
    </picture>

</a>