<nav class="navigation {{modifier}}" role="navigation">
  <ul>
    <li class="">
      <a class="mainNav-link" href="">
          Home
      </a>
    </li>
    <li>
      <a class="mainNav-link" href="">
          Collections
      </a>

      <ul>
        {{!-- Collections Dropdown --}}
      </ul>
    </li>
    <li>
      <a class="mainNav-link" href="">
          About
      </a>
    </li>
    <li>
      <a class="mainNav-link" href="">
          Contact
      </a>
    </li>
  </ul>
</nav>
