/* =============================================
  Navigation
 ============================================= */

.navigationBar {
  display: block;
  max-width: 60%;
  margin: 0 auto;
}

.navigation {
  
  li {
    display: inline-block;
  }
}


