/* =============================================
  Navigation
  * Use the bootstrap buttons with modifiers
 ============================================= */


// Common button styles
.btn {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 15px 20px;
  background: none;
  color: $color-white;
  border: 4px solid $color-white;
  font-size: 22px;
  transition: all .2s ease-in-out;
  
  &:hover {
    background: $color-white;
    color: rgba(#000, .6);
  }
  &--pill {
    border-radius: 50px;
  }
}

