/* =============================================
  Footer
 ============================================= */

.mainFooter {
  padding: 8em 0 2em;
}


.copywright {
  display: block;
  height: 100%;
  width: 100%;
  color: $color-white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}