/* =============================================
  Header
 ============================================= */
 // Header specific imports
@import 'header/navigation';

.mainHeader {
  display: inline-block;
  width: 100%;
  padding: 0 4em;
  background: #05212b;
}

.navigation-wrapper {
  text-align: right;
}